<%- include('includes/_header.ejs') %>

<main>
  <div class="main__container">
    <h1 id="main__header">Welcome to our Bookstore!</h1>
  </div>

  <p id="desc">This is the first website made by myself</p>

  <div class="img__container">
    <img src="img/bookstore.jpg" alt="Image" class="img" />
  </div>
</main>

<%- include("includes/_footer.ejs") %>
